#board {
  display: flex;
  flex-wrap: wrap;
  width: 306px;
  margin: 0 auto;
}

.square {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

.square:hover {
  background-color: lightgray;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3E8E41;
}

body{
  text-align: center;
}